<_within file="application.html">

  <div id="content-fnx">
    <div id="fn-display">
      <h1 id="header">security-group-exists?</h1>
      <div class="input">
        <label id="group-name-input-label">
          <span>group-name</span>
          <input id="group-name-input" size="30" type="text"/>
        </label>
        <div id="group-name-input-error" class="small error">&nbsp;</div>
      </div>
      <div class="input">
        <label id="region-id-input-label">
          <span>region-id</span>
          <input id="region-id-input" size="30" type="text"/>
        </label>
        <div id="region-id-input-error" class="small error">&nbsp;</div>
      </div>
      <input id="greet-button" class="button green" type="button" value="run!">
    </div>
  </div>
  
</_within>
